{% extends 'base.html' %}

{% block content %}
  <h1>Finch List</h1>

  {% for finch in Finches %}
    <div class="card">
      <a href="{% url 'finch_detail' finch.id %}">
        <div class="card-content">
          <span class="card-title">{{ finch.name }}</span>
          <p>Species: {{ finch.species }}</p>
          <p>color: {{ finch.color }}</p>
          <!-- Add more attributes as needed -->
        </div>
      </a>
      <a href="{% url 'finch_update' finch.id %}">Edit</a>
      <a href="{% url 'finch_delete' finch.id %}">Delete</a>
    </div>
  {% endfor %}

  <a href="{% url 'finch_create' %}">Add Finch</a>
{% endblock %}
